@model Book

<h3>Book</h3>
<br />
<form method="post" asp-action="CreateBook">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Title" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Title" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Genre" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Genre" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Genre"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Author" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Author" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Author"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Price" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
        <div class="col-6">
            
        </div>
    </div>
</form>